* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 50px;
    width: 50px;
}

header,
[class="sec-1"],
[class="sec-2"],
[class="sec-3"],
[class="sec-4"] {
    padding-left: 50px;
    padding-right: 50px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main > * {
    flex: 1;
}

header {
    margin: 0px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    margin: 0px 5px;
}

[class="sec-1"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.sec-1.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.sec-1.content > * {
    flex: 1;
    flex-direction: column;
}

[class="sec-2"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(65, 195, 218);
}

.sec-2.content-bottom {
    display: flex;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
}

.quote {
    text-align: left;
    padding-right: 30px;
}

.quote-origin {
    text-align: right;
}

[class="sec-4"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-4.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: blue;
    color: white;
    width: 499px;
    height: 100px;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
}